<div class="page-default" ng-controller="MainController">
	<div id="landing-page" class="container-fluid">
		<div class="container wrap-content">
	    <div class="row menu-part">
	    	<div><a href="/"> Nazad na početnu stranu</a></div>
	    </div>
	    <div class="row select-part">
	    	<div class="col-lg-2">
	    		<div class="arrow-left" ng-click="prevSlide($event)"> </div>
	    	</div>
	    	<div class="col-lg-8">
	    		<iframe scrolling='no' frameborder='0' srcdoc="<a ng-click='gamePopUp($event)' href='/' style='position:absolute;top: 30px;right: 30px;z-index: 9999;'>
	    			<img src='/src/images/common/close-icon.png' alt=''></a>" src="" class="game-frame" name="game-frame">
	    		</iframe>
	    		<div ng-repeat="i in gameGroup(0)" class="slide-{{$index}}" ng-init="slider = $index">
	    			<div ng-repeat="game in games[0].games | limitTo : 12 : slider*12" ng-click="gamePopUp($event)" class="col-lg-3 game-{{game.name}}">
			    		<a id="{{game.name}}" href="/category/game/{{game.name}}"><img src='{{game.icon}}' alt=""></a>
			    		<img src="/src/images/common/game-shadow.png" alt="" class="shadow">
			    	</div>
	    		</div>
	    	</div>
	    	<div class="col-lg-2">
	    		<div class="arrow-right" ng-click="nextSlide($event)"> </div>
	    	</div>
	    </div> 
	    <div ng-include="'/build/app/views/main/random.html'"></div>
    </div>
  </div> <!-- end of landing page -->
</div>
