<div class="page-default" ng-controller="MainController">
	<div id="page-header" class="container-fluid">
		<div class="container wrap-content">
			<div class="row head-part">
			  <div class="col-lg-4"><a href="https://sansabet.com/home.php"><img src="/src/images/common/logo-inner.png" alt=""></a></div>
			  <div class="col-lg-4"></div>
			  <div class="col-lg-4"><!--this part down is left for upgrade-->
			  	<p>Stanje</p>
			  	<div class="count-money"> 
			  		<span class="counter">
			  			<p>1</p>
			  		</span>
			  		<span class="counter">
			  			<p>1</p>
			  		</span> 
			  		<span class="separator"> , </span>
			  		<span class="counter-sm">
			  			<p>0</p>
			  		</span>
			  		<span class="counter-sm">
			  			<p>0</p>
			  		</span>
			  		<span class="value"> &euro; </span>
			    </div>
			  </div>
			</div>
		</div>
	</div><!--end of page-header-->
</div>